@charset "UTF-8";
        body {
            background-color: black;
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
        }
        .navbar {
            display: flex;
            justify-content: center;
            padding: 10px;
        }
        .navbar a {
            color: white;
            text-decoration: none;
            margin: 0 20px;
            font-size: 24px;
            border-bottom: 1px solid white;
        }
        /*holds colum contec on services page in a box*/
        .column_sign {
            float: left;
            width: 48%;
            margin-left: 1%;
            margin-right: 1%;
            margin-bottom: 5%;
            background-color: white;
            color: black;
        }
        /*builds a column that pushes the other 2 columns on top of that in to the prefeus column */
        .column {
            float: left;
            width: 30%;
            margin-left: 2%;
            margin-bottom: 5%;
            padding-bottom: 2%;
            background-color: white;
            color: black;
        }
        /*sets img in column to the right size*/
        .column img {
            max-width: 50%;
            height: 50%;
        }
        /*bugfixing*/
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /*sets everything to the centre*/
        .login_content {
            text-align: center;
        }
        /*give space to login page content*/
        .login_content form {
            padding-top: 1%;
            padding-bottom: 1%;
        }
        /*adds padding to the title in login's content*/
        .login_content h1 {
            padding-top: 1%;
        }
        /*puts a space around the button*/
        .login_content button {
            margin-bottom: 3%;
            margin-top: 1%;
        }
        /*puts the login butten where it needs to go*/
        .login {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 1%;
            border: 1px solid white;
            text-decoration: none;
        }
        /*colour for the (a) text in login*/
        .login a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
        }
        /*atobustes aplied to everything on all pagese*/
        .content {
            position: relative;
            margin-top: 20px;
        }
        /*atobustes aplied to img on all pagese*/
        .content img {
            width: 100%;
            height: auto;
            margin-bottom: 2%;
        }
        /*atobustes aplied to everything on all about page*/
        .content_about {
            position: relative;
            margin-top: 20px;
            vertical-align: middle;
        }
         /*atobustes aplied to img on all about page*/
        .content_about img {
            width: auto;
            height: 15%;
        }
        /*text cunsmoation for everything p in the about page*/
        .content_about P {
            font-family: comic sans-serif;
            vertical-align: middle;
            font-size: 24px;
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 3%;
            background-color: white;
            color: black;
        }
        /*the fotter content*/
        .footer {
            background-color: #333;
            color: white;
            padding: 10px;
            position: sticky;
            bottom: 0px;
            width: 100%;
        }
        /*all h1 marjin sets*/
        .h1 {
			margin-right: 100%;
			
		}
        
        .card {
			perspective: 1000px;
			width:100%;
			height:350px;
			
		}

		.card .card-inner {
			width: 100%;
			height: 100%;
			transition: transform 0.2s;
			transform-style: preserve-3d;
			color: black;
		}
		
		
		.card .card-front,
		.card .card-back {
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
			position: absolute;
		}

		.card .card-back {
			transform: rotateY(180deg);
		}	
			
		.card-img {
			max-height: 300px;
		}
		
		.service-img {
			size: 10%;
		}
		
        #skeleRat {
            max-width: 300px;
            max-height:300px;
        }
        #luzard {
            max-width: 300px;
            max-height:300px;
        }
      